.location-tabs {
    padding: rem(60) 0;

    &__title {
        display: flex;
        align-items: flex-end;
        gap: rem(30);
        flex-wrap: wrap;
        margin-bottom: rem(30);
        font-size: rem(28);

        span {
            margin-bottom: rem(8);
            font-size: rem(12);
        }
    }

    &__city {
        display: flex;
        flex-wrap: wrap;
        gap: rem(20);

        .city__item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: rem(10);
            padding: rem(12) rem(20);
            background: rgba($firstAccentColor, .1);
            border-radius: rem(4);

            svg {
                width: rem(32);
                height: rem(32);
            }
            
            span {color: $firstAccentColor;}

            &.all {
                padding-left: 0;
                padding-right: 0;
                background: transparent;
                text-decoration: underline;
                text-decoration-style: dashed;
                text-decoration-color: $firstAccentColor;
            }
        }
    }
}