.services-section, .house-section, .shopping-section,
.announc-section, .people-section, .sale-section, .blog-section {
    padding: rem(60) 0;

    @media (max-width: 991px) {
        padding: rem(30) 0;
    }

    &__heading {
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-bottom: rem(30);

        @media (max-width: 991px) {
            flex-wrap: wrap;
            padding-right: rem(50);
        }
    }

    &__title {
        margin-right: rem(30);
        font-size: rem(28);

        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: rem(5);
            font-size: rem(22);
        }
    }

    &__city {
        margin-bottom: rem(4);
        color: $firstAccentColor;
        font-size: rem(13);

        &:hover {text-decoration: underline;}

        @media (max-width: 991px) {
            margin-bottom: 0;
        }
    }

    &__add {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(20);
        margin-left: auto;
        padding: rem(8) rem(20);
        background: white;
        border: rem(1) solid $blueColor;
        border-radius: rem(4);
        text-transform: none;

        span, i {transition: $standartTrans;}

        &:hover, &:focus {
            background: $blueColor;

            span, i {color: white;}
        }

        @media (max-width: 991px) {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            padding: rem(8) rem(10);

            span {display: none;}
        }
    }

    &__tabs {
        position: relative;
        margin-bottom: rem(30);

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: rem(1);
            background: #DADADA;
        }
        
        .tabs {
            height: auto;

            .tab {
                height: auto;
                line-height: 1.2;

                a {
                    padding: rem(10);
                    color: $blackColor;
                    font-size: rem(15);
                    text-transform: none;

                    &:focus, &:active {
                        background: white;
                    }
                }
            }

            .indicator {
                z-index: 1;
                background-color: $firstAccentColor;
            }
        }
    }

    &__sliders {
        .swiper-wrapper {
            margin-bottom: rem(38);
        }

        .swiper-pagination-bullet {
            width: rem(8);
            height: rem(8);
            background: rgba($firstAccentColor, .4);
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            color: #fff;
            background: $firstAccentColor;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        background: white;
        border: rem(1) solid #DADADA;
        border-radius: rem(8);
        overflow: hidden;

        .item__heading {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            width: 100%;
            padding: rem(8);
        }

        .item__status {
            position: relative;
            padding: rem(4) rem(10);
            padding-right: rem(32);
            background: linear-gradient(90deg, #F00 0%, #FF7A00 100%);
            color: white;
            border-radius: rem(50);
            font-size: rem(13);
            text-transform: capitalize;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: rem(10);
                transform: translateY(-50%);
                width: rem(16);
                height: rem(16);
                background: url('../img/icons/icons.svg#icon-vip');
            }
        }

        .item__like {
            margin-left: auto;

            svg {
                width: rem(32);
                height: rem(32);
            }
        }

        .item__img {
            position: relative;
            padding-bottom: 56%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .item__info {
            display: flex;
            flex-direction: column;
            gap: rem(12);
            padding: rem(16) rem(8);
        }

        .item__category {
            color: $firstAccentColor;
            font-size: rem(13);
        }

        .item__title {
            &:hover span {
                color: $firstAccentColor;
                text-decoration: underline;
            }
            
            span {
                display: block;
                width: 100%;
                height: rem(28);
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 24px;
                overflow: hidden;
            }
        }

        .item__wage {
            color: $firstAccentColor;
            font-size: rem(20);
            font-weight: 600;
        }

        .item__meta {
            display: flex;
            align-items: center;
            gap: rem(20);
        }

        .item__location, .item__date {
            position: relative;
            padding-left: rem(18);
            font-size: rem(13);
            
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: rem(16);
                height: rem(16);
            }
        }

        .item__location:before {background: url('../img/icons/icons.svg#icon-marker') no-repeat center / cover;}
        .item__date:before {background: url('../img/icons/icons.svg#icon-time') no-repeat center / cover;}
    
        .item__reviews {
            display: flex;
            align-items: center;
            gap: rem(8);
        }

        .item__star {
            display: flex;
            align-items: center;
            gap: rem(8);

            .stars {
                display: flex;
                gap: rem(3);

                svg {
                    width: rem(15);
                    height: rem(15);
                }
            }

            .num {
                color: $firstAccentColor;
                font-size: rem(13);
            }
        }

        .item__count {
            color: #5C6363;
            font-size: rem(13);
        }
    }

    &__all {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        margin: rem(30) auto 0;
        padding: rem(8) rem(20);
        background: $blueColor;
        border: rem(1) solid $blueColor;
        border-radius: rem(4);
        text-transform: none;

        span {
            color: white;
            transition: $standartTrans;
        }

        &:hover, &:focus {
            background: white;
            border-color: $blueColor;

            span {color: $blackColor;}
        }
    }
}